<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%green(%.-19date) %highlight(%-5level) - %logger %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="org.springframework" level="error"/>
    <logger name="com.mdevi.examboot.service" level="error"/>
    <root level="debug">
        <appender-ref ref="console"/>
    </root>
</configuration>